@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 11px;
  background-color: #45277e;
}

::-webkit-scrollbar-thumb {
  background-color: #1a0238;
}

body {
  background: linear-gradient(90deg, #000000, #1d0340, #45277e, #3010bd);
}

/*cabeçalho*/

header {
  background-color: #00000080;
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
}

.container1 {
  padding: 20px;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25%;
  font-family: "Fascinate", cursive;
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.menu {
  margin-left: 570px;
}

.menu nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  text-decoration: none;
  padding-right: 15px;
  transition: 0.4s;
}

.menu nav a:hover {
  color: #ee9542;
  font-size: 17px;
  right: 10px;
}

/*pagina inicial esquerda*/

main {
  height: 660px;
  width: 100%;
}
.esquerda {
  position: relative;
  width: 60%;
  margin-left: 8%;
  color: #ffffff;
  top: 250px;
}

.esquerda h2 {
  font-family: "Roboto Mono", monospace;
}

.esquerda h1 {
  font-family: "Fascinate", cursive;
  margin-top: 5px;
  margin-bottom: 20px;
}

.esquerda p {
  font-family: "Roboto Mono", monospace;
}

.container {
  display: inline-flex;
}

.container .estatico {
  margin-left: 95px;
  margin-top: 250px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

.container .dinamico {
  margin-left: 15px;
  margin-top: 244px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.dinamico li {
  margin-left: 0px;
  color: #ffffff;
  list-style: none;
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  font-weight: 500;
  left: 0;
  position: relative;
  top: 0px;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}

.dinamico li span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-left: 2px solid #fc6d6d;
  animation: typing 1.5s steps(10) infinite;
}

.dinamico li span {
  position: relative;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/*sobre*/
#sobre {
  height: 538px;
  display: inline-block;
}
.quem {
  width: 40%;
  margin-left: 10%;
  top: 50px;
  padding-top: 50px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #ffffff;
}

.textosobre {
  margin-top: 30px;
}

.recuo {
  padding-top: 8px;
  text-indent: 2em;
  text-align: justify;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

img {
  position: relative;
  width: 380px;
  margin-top: -600px;
  margin-left: 850px;
}
